// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color:  #f4f4f4;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;


$buyer-color:  #3a87ad;
$seller-color: #468847;
$price-color:  #900;

$background-boxes-color: #FFF;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"basic",
    "chicoCarousel",
    "pureCssTabs"
;
